.heading:hover{
    color: red;
    font-size: 60px
    
}
.heading:active{
    background-color: blue;
}
#input:focus{
    background-color: black;
    color: white;
}
.list li:nth-child(even){
    background-color: red;
    color: white;
}